@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {

}

body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Mono", monospace;
}

.main {
    .hero {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        .imageContainer {
            position: relative;
            top: -10vh;
            height: 20rem;
            width: 40rem;
            overflow: hidden;
            border-radius: 15px;
            .gridOverlay {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                z-index: 1;

                .gridBlock {
                    opacity: 0;
                    height: 10px;
                    width: 10px;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: black;
                    color: white;
                }
                
            }
            .image {
                object-fit: cover;
            }
        }
    }
}